body {
    /* background-color: #484f5b; */
    background-color: #363b45;
}
.content {
    max-width: 26em;
    /* margin: 1em auto 1.5em; */
    width: 80%;
    border-radius: 10px;
    /* background-color: #363b45; */
    background-color:#24292e;
    box-shadow: 0 .05rem .2rem rgba(69,77,93,.3);
}

.padded {
    padding: 36px;
}

h3 {
    color:  white;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select {
    /* border-color:#768092; */
    border-color:  #363b45;
    background: transparent;
    color:  white;
}
.icon {
    color:  white;
}

.btn-info {
    margin-top: 0.5rem;
    padding-left: 1rem;
    background-color: #5e5cc7 ;
    /* background-color:  #5756bb; */
    /* border:#4c4aa3; */
    border: none;
}

.btn-info:focus {
    border: none;
    box-shadow: none;
}
.btn-info:hover {
    background-color: #4c4aa3;
 
    /* border: #5756bb; */
}
.info {
    display: flex;
    /* flex-direction: column; */
}
/* a {
    color:lightgrey;
} */
.link {
    color: lightgrey;
}
.link:hover{
    color: darkgrey;
}

img {
    width: 4em;
}
.header {
    background-color: #24292e;
}
.header a{
    color: white;
}
.header a:hover{
    color: white;
}
.title {
    color: white;
}
.nav-item .dropdown-menu {
    background-color: #363b45;
    border-color:#363b45;
}
.icon {
    color: white;
}
.form-group {
    margin: 1rem 0;
}
.toast {
    border-radius: 4px;
    margin-left: 0;
}
.toast.toast--error {
    background-color: #434955;
    border: none;

}
h7 {
    color: white;
}