body {
    /* background-color: #484f5b; */
    /* background-color: #1e1f26; */
    background-color: #f0f0f0;
    /* background-image: url('https://www.xmple.com/wallpaper/violet-gradient-linear-1920x1080-c2-19012b-46007e-a-270-f-14.svg'); */
    background-position: center;
    color: #666;
    /* background-color: #363b45; */
}
.content {
    max-width: 26em;
    /* margin: 1em auto 1.5em; */
    width: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #f0f0f0;
    /* background-color: #363b45; */
    /* background-color:#24292e; */
    /* background-color: #1e1f26; */
    /* box-shadow: 0 .05rem .2rem rgba(69,77,93,.3); */
}
.frame {
    border: none;
    box-shadow: none;
}
.padded {
    border: none;
    padding: 36px;
}

h3 {
    color: #666;
    /* color:  white; */
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select {
    /* border-color:#768092; */
    /* border-color:  #363b45; */
    /* border; */
    border: 1px solid #f0f0f0;
    background-color: #e8e8e8; 
    /* background: transparent; */
    color: #666;
    /* color:  white; */
}
.btn--orange {
    font-size: 14px;
    border-radius: 8px;
    background-color: #ff8a00;
    color: white;
}
.btn--orange:hover {
    background-color: #f08001;
}
.icon i{
    color: #666;
    /* color:  white; */
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus {
    /* background-color: white; */
    /* background-color: #5a6270; */
    /* background-color: #434955; */
    /* background-color: white; */
    background-color: transparent;
    box-shadow: none;
    color: #666;
    border: 1px solid #e1e1e1;
    /* border: none; */
}
.btn-info {
    margin-top: 0.5rem;
    padding-left: 1rem;
    background-color: #5e5cc7 ;
    /* background-color:  #5756bb; */
    /* border:#4c4aa3; */
    border: none;
}

.btn-info:focus {
    border: none;
    box-shadow: none;
}
.btn-info:hover {
    background-color: #4c4aa3;
 
    /* border: #5756bb; */
}
.info {
    display: flex;
    /* flex-direction: column; */
}
/* a {
    color:lightgrey;
} */
.link {
    color: #666;
    /* color: lightgrey; */
}
.link:hover{
    color: rgb(87, 87, 87);
}

img {
    width: 4em;
}
.header {
    background-color: #24292e;
}
.header a{
    color: white;
}
.header a:hover{
    color: white;
}
.title {
    color: white;
}
.nav-item .dropdown-menu {
    background-color: #363b45;
    border-color:#363b45;
}
.icon {
    color: white;
}
.form-group {
    margin: 1rem 0;
}
.toast {
    border-radius: 4px;
    margin-left: 0;
}
.toast.toast--error {
    background-color:  #2c303a;
    border: none;

}
h7 {
    color: #666;
}
.green {
    color: #0dd157;
}